<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}][%highlight(%-5level)][%thread][%cyan(%logger{10}:%L)] %yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/app.log</file>
        <encoder>
            <pattern>[%d{ISO8601}][%-5level][%thread][%logger{10}:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>
    <logger name="jdbc.sqlonly" level="ERROR"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="example" level="debug"/>

    <root>
        <level value="OFF"/>
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>